/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';
@import './assets/resource/fontawesome/css/all.min.css';
@import url('./assets/resource/farsi-fonts-styles/primary-iran-yekan.css');
@import url('./assets/resource/farsi-fonts-styles/secondary-iran-yekan.css');
@import "~@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: "primary-font",
);
@include mat-core($custom-typography);

body {
  font-family: 'primary-font', 'segoe ui', 'tahoma' !important;
  height: 100vh;
  width: 100%;
}
